# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*~
# Logs
*.log

.env

# Node.js
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb
dist/

# Python
__pycache__/
*.pyc
*.pyo